main {
    background-color: var(--grey-six);
}
.tittle-valid {
    text-align: center;
}
.section-one {
    display: grid;
    width: 80%;
    height: 505px;
    margin: 20px auto;
    padding: 20px;    
    background-color: var(--grey-seven);    
    border: 1px solid rgb(194, 130, 130);                            

}
.container-valid-info table {    
    width: 100%;
}
.container-valid-info table tr td {                            
        
                width: 50%;
                height: 40px;                
                display: grid;    
                border: 1px solid black;                            
}